name: Code Quality

on:
  push:
    branches: ["main"]
    paths:
      - "backend/**"
      - ".github/workflows/code-quality.yml"
  pull_request:
    branches: ["main"]
    paths:
      - "backend/**"
      - ".github/workflows/code-quality.yml"

jobs:
  ruff:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: pip install "ruff==0.9.6"
      - name: Ruff format
        run: ruff format . --check --diff

  import-linter:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install Poetry
        run: pip install poetry
      - name: Install dependencies
        run: poetry install --only dev
      - name: Run import-linter
        run: poetry run lint-imports
